.tabelaProdutos table{
    width: 100%;
}
.tabelaProdutos th {
    background-color: #008b8b;
}
.tabelaProdutos th {
    background-color: #008b8b;
}

.tabelaProdutos .Par{
    background-color: #ddd;
}